<div class="tab-pane active Maincontent_div active"  id="submenu-1">

	<div class="col-sm-9 col-md-9" id="content">
		<h2 class="Mainheading">Main Title Text</h2>
		<h3 class="Subhead">Sub Title Text</h3>
		<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>

	</div> 
	<div class="col-sm-12 col-md-12" id="content">
		<ul class="nav nav-tabs">
			<li class="active"><a data-toggle="tab" href="#home">Tab 1</a></li>
			<li><a data-toggle="tab" href="#menu1">Tab 2</a></li>
			<li><a data-toggle="tab" href="#menu2">Tab 3</a></li>
			<li><a data-toggle="tab" href="#menu3">Tab 4</a></li>
			<li><a data-toggle="tab" href="#menu4">Tab 5</a></li>
			<span class="gear">  <li><a data-toggle="tab" href="#menu5"><i class="fa fa-gear"></i></a></li></span>
		</ul>

		<div class="tab-content">
			<div id="home" class="tab-pane fade in active">
				<div class="row">
					<div class="col-md-12">
						<div class="col-md-4 col-sm-6 panel1 col-lg-4 col-xl-4">
							<h4 class="titlehead">Category Name</h4> 
							<table>
								<tr><td>Label Name</td><td class="sectd">Value</td> </tr>
								<tr><td>Label Name</td><td class="sectd">Value</td></tr>
								<tr><td>Label Name</td><td class="sectd">Value</td></tr>
								<tr><td>Label Name</td><td class="sectd">Value</td></tr>
								<tr><td>Label Name</td><td class="sectd">Value</td></tr>
								<tr><td>Label Name</td><td class="sectd">Value</td></tr>
								<tr><td>Label Name</td><td class="sectd">Value</td></tr>

							</table></div>


							<div class="col-md-7 col-sm-6 panel2 col-lg-7 col-xl-7">
								<h4 class="titlehead">Category Name</h4> 
								<table>
									<tr>
										<td class="col-md-4">Label Name</td>
										<td class="col-md-7"><div class="container1">
											<div class="skills pbar1"></div>
										</div></td>
										<td class="col-md-1 sectd">Value</td>
									</tr>
									<tr>
										<td class="col-md-4">Label Name</td>
										<td class="col-md-7"><div class="container1">
											<div class="skills pbar2"></div></div></td>
											<td class="col-md-1 sectd">Value</td>
										</tr>
										<tr>
											<td class="col-md-4">Label Name</td>
											<td class="col-md-7"><div class="container1">
												<div class="skills pbar3"></div></div></td>
												<td class="col-md-1 sectd">Value</td>
											</tr>
											<tr>
												<td class="col-md-4">Label Name</td>
												<td class="col-md-7"><div class="container1">
													<div class="skills pbar4"></div></div></td>
													<td class="col-md-1 sectd">Value</td>
												</tr>
												<tr>
													<td class="col-md-4">Label Name</td>
													<td class="col-md-7"><div class="container1">
														<div class="skills pbar5"></div></div></td>
														<td class="col-md-1 sectd">Value</td>
													</tr>
													<tr>
														<td class="col-md-4">Label Name</td>
														<td class="col-md-7"><div class="container1">
															<div class="skills pbar6"></div></div></td>
															<td class="col-md-1 sectd">Value</td>
														</tr>
														<tr>
															<td class="col-md-4">Label Name</td>
															<td class="col-md-7"><div class="container1">
																<div class="skills pbar7"></div></div></td>
																<td class="col-md-1 sectd">Value</td>
															</tr>
														</table>
													</div>
												</div>
											</div>
											<!-- second section in tab1  -->

											<div class="panel panel-default">
												<div class="panel-body row panel3">
													<h4 class="titlehead">Category Name</h4> 
													<hr class="line">
													<div class="col-md-4 col-sm-12">
														<div class="row">
															<div class="form-group col-md-6">
																<label  class="col-form-label">Label Name</label>
																<span class="right">
																	<label class="switch">
																		<input type="checkbox" checked>
																		<span class="slider round"></span>
																	</label>
																</span>
																<select class="form-control" name="Type" id="Type">
																	<option value="" selected="selected">value</option>
																	<option value="Department">value1</option>
																	<option value="Clients">value2</option>
																</select>
															</div>
															<div class="form-group col-md-6">
																<label  class="col-form-label">Label Name</label>
																<span class="right">
																	<label class="switch">
																		<input type="checkbox" checked>
																		<span class="slider round"></span>
																	</label>
																</span>
																<select class="form-control" name="Type" id="Type">
																	<option value="" selected="selected">value</option>
																	<option value="Department">value1</option>
																	<option value="Clients">value2</option>
																</select>
															</div>
														</div>
														<div class="row">
															<div class="form-group col-md-12">
																<label  class="col-form-label">Form Name</label>
																<br/>
																<input type="text" class=" form-control" id="txtStatus"/>
															</div>
														</div>
														<div class="row">
															<div class="form-group col-md-12">
																<button type="button" class="btn btn-secondary">Button Name</button>
																<button type="button" class="btn btn-secondary active navbar-nav" onclick="">Button Name</button>
															</div>
														</div>
													</div>
													<!-- progress bar -->
													<div class="col-md-8 col-sm-12">
														<div class="col-md-4 col-sm-4 caugename">   
															<span>Cauge Name</span><br/>
															<div class="progress">
																<div class="barOverflow">
																	<div class="bar"></div>
																</div>
																<span>70</span>%</div>
															</div>
															<div class="col-md-4 col-sm-4 caugename">   
																<span>Cauge Name</span><br/>
																<div class="progress">
																	<div class="barOverflow">
																		<div class="bar"></div>
																	</div>
																	<span>28</span>%
																</div>
															</div>

															<div class="col-md-4 col-sm-4 caugename">   
																<span>Cauge Name</span><br/>
																<div class="progress">
																	<div class="barOverflow">
																		<div class="bar"></div>
																	</div>
																	<span>55</span>°C
																</div>
															</div>

														</div>
													</div>
												</div>

												<!-- Third section in tab1  -->

												<div class="panel panel-default graph">
													<div class="panel-body row panel3">
														<h4 class="titlehead">Category Name</h4> 
														<hr class="line">
														<div class="col-md-12 col-sm-12">
															<div id="chartContainer" style="height: 300px; width: 100%;"></div>


														</div>
													</div>


												</div>
												

											</div>
											<div id="menu1" class="tab-pane fade">
												<h3>Menu 1</h3>
												<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
											</div>
											<div id="menu2" class="tab-pane fade">
												<h3>Menu 2</h3>
												<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
											</div>
											<div id="menu3" class="tab-pane fade">
												<h3>Menu 3</h3>
												<p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
											</div>
											<div id="menu4" class="tab-pane fade">
												<h3>Menu 3</h3>
												<p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
											</div>
										</div>
									</div>
								</div>