<div class="tab-pane Maincontent_div"  id="submenu-4">

  <div class="col-sm-9 col-md-9" id="content">
    <h2 class="Mainheading">Main Title Text</h2>
    <h3 class="Subhead">Sub Title Text</h3>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>

  </div> 
  <div class="col-md-12">
   <div class="col-md-6">
    <div class="panel-body" id="table2">

     <table width="100%">

       <thead>
        <tr>
          <th colspan="2"><h4>Diagnostic Equipment</h4></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Local agent status</td>
          <td>Agent present (Moto Diagnose Bridge v.1.2)</td>
        </tr>
        <tr>
          <td>Interface Status</td>
          <td>Interface Present(ELM 327 simulator)</td>
        </tr>
        
      </tbody>
    </table></div>
  </div>
  <div class="col-md-6">
    <div class="panel-body" id="table2">

     <table width="100%">

       <thead>
        <tr>
          <th colspan="2"><h4>Vehicle Connection</h4></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Connection Status</td>
          <td><span class="dotcircle"></span> Connection Protocal </td>
        </tr>
        
        
      </tbody>
    </table></div>
  </div>
</div>

<div class="col-sm-12 col-md-12" id="content2">
 <ul class="nav nav-tabs">
   <li class="active"><a data-toggle="tab" href="#vehicleinfo">Vehicle Info</a></li>
   <li><a data-toggle="tab" href="#errorcodes">Error Codes</a></li>
   <li><a data-toggle="tab" href="#cureentvalue">Current Values</a></li>
   <li><a data-toggle="tab" href="#systemmonitor">System Monitors</a></li>
   <li><a data-toggle="tab" href="#livemonitoting">Live Monitoring</a></li>
   <span class="gear"><li><a data-toggle="tab" href="#menu5"><i class="fa fa-gear"></i></a></li></span>
 </ul>

 <div class="tab-content bgcolor">
  <div id="vehicleinfo" class="tab-pane fade in active">
   <div class="col-md-12">
     <div class="col-md-4 tab1panel1">
       <table id="info_table">
        <tr><td>Label Name</td><td>Value</td> </tr>
        <tr><td>Label Name</td><td>Value</td></tr>
        <tr><td>Label Name</td><td>Value</td></tr>
        <tr><td>Label Name</td><td>Value</td></tr>
        <tr><td>Label Name</td><td>Value</td></tr>
        <tr><td>Label Name</td><td>Value</td></tr>
        <tr><td>Label Name</td><td>Value</td></tr>

      </table></div>
      <div class="col-md-7 tab1panel1">
        <img class="img_values" src="{T_THEME_PATH}/images/static/ford.png">
      </div>


      

    </div>
  </div>
  <div id="errorcodes" class="tab-pane fade">
    <h3>Menu 1</h3>
    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </div>
  <div id="cureentvalue" class="tab-pane fade">
    <h3>Menu 2</h3>
    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
  </div>
  <div id="systemmonitor" class="tab-pane fade">
    <h3>Menu 3</h3>
    <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
  </div>
  <div id="livemonitoting" class="tab-pane fade">
    <h3>Menu 4</h3>
    <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
  </div>
</div>
</div>


</div>